<app-navbar2></app-navbar2>
<div class="wrapper">
  <div
    class="testimonials-1 section-image"
    style="background-image: url('assets/img/bg19.jpg')"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">Welcome {{datas.companyName}}</h2>
          <h4 class="description text-white">
            Manage your professional image. Build and communicate with your
            professional network.
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="info info-horizontal"></div>
  <div class="col-md-6 ml-auto mr-auto text-center">
    <h2 class="title">My Posts</h2>
</div>
  <div style="display: flex; flex-wrap: wrap">
    <div
      class="container"
      style="max-width: 500px"
      *ngFor="let data of datas"
    >
      <div class="col-md-8">
        <div class="card card-testimonial">
          <div class="card-body">
            <p class="card-description">
              {{ data.offerDescription }}
            </p>
          </div>

          <div class="card-footer">
            <h4 class="card-title">{{ data.offerTitle }}</h4>
            <p class="category">{{ data.typeOfContract }}</p>
            <p class="category">{{ data.salary }}</p>
            <p class="category">{{ data.yearsOfExperience }}</p>
          </div>

          <form
            class="form"
            method=""
            action=""
            (ngSubmit)="onSubmit(data)"
          >
            <div class="col-md-7">
              <label>OfferTitle</label>
              <div
                class="input-group"
                [ngClass]="{ 'input-group-focus': focus === true }"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="now-ui-icons users_circle-08"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="OfferTitle"
                  [(ngModel)]="OfferTitle"
                  placeholder="Your OfferTitle..."
                  (focus)="focus = true"
                  (blur)="focus = false"
                />
              </div>
            </div>
            <div class="col-md-7">
              <label>OfferDescription</label>
              <div
                class="input-group"
                [ngClass]="{ 'input-group-focus': focus === true }"
              >
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="now-ui-icons users_circle-08"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="OfferDescription"
                  [(ngModel)]="OfferDescription"
                  placeholder="Your OfferTitle..."
                  (focus)="focus = true"
                  (blur)="focus = false"
                />
              </div>
            </div>
            <div class="row" id="space">
              <div class="col-lg-6 col-md-8 col-sm-5">
                <app-multiselect
                  [single]="true"
                  [text]="'Type of contract'"
                  [dropdownList]="dropdownList"
                  [selectedItems]="selectedItems"
                  (itemSelect)="click($event)"
                  (itemDeSelect)="click($event)"
                  (selectAll)="console.log($event)"
                  (deSelectAll)="console.log($event)"
                ></app-multiselect>
              </div>
            </div>

            <div class="row" id="space">
              <div class="col-lg-6 col-md-8 col-sm-5">
                <app-multiselect
                  [single]="true"
                  [text]="'Salary'"
                  [dropdownList]="dropdownList2"
                  [selectedItems]="selectedItems2"
                  (itemSelect)="click1($event)"
                  (itemDeSelect)="click1($event)"
                  (selectAll)="test($event)"
                  (deSelectAll)="test($event)"
                ></app-multiselect>
              </div>
            </div>

            <div class="row" id="space">
              <div class="col-lg-6 col-md-8 col-sm-5">
                <app-multiselect
                  [single]="true"
                  [text]="'Years of experience'"
                  [dropdownList]="dropdownList1"
                  [selectedItems]="selectedItems1"
                  (itemSelect)="click2($event)"
                  (itemDeSelect)="click2($event)"
                  (selectAll)="test($event)"
                  (deSelectAll)="test($event)"
                ></app-multiselect>
              </div>
            </div>
            <input
              type="submit"
              class="btn btn-primary btn-raised btn-round"
              value="Post"
            />
            <input
              (click)="delete(data)"
              class="btn btn-primary btn-raised btn-round"
              value="Delete"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <h2 class="title">My Favorites</h2>
            <div class="col-md-4" *ngFor="let fav of favorites">
                <div class="card card-testimonial card-plain">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img img-raised rounded" src={{fav.img}} />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{fav.name}}</h4>
                        <h6 class="category text-primary">{{fav.title}}</h6>
                        <p class="card-description">{{fav.description}}
                        </p>
                    </div>
                </div>
            </div>
          
                  
  <!--  -->
  <div class="pricing-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">Pick the best plan for you</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-pricing card-plain">
            <div class="card-body">
              <h6 class="category">SILVER</h6>
              <h1 class="card-title"><small></small>300 DT</h1>
              <ul>
                <li>
                  <b>10 POSTS</b>
                </li>
                <li>
                  <b>Video & Chat</b>
                </li>
                <li>
                  <b>Caendar</b>
                </li>
                <li><b>Unlimited</b> Candidats</li>
              </ul>
              <a
                href="#pablo"
                class="btn btn-primary btn-round"
                (click)="onSubmitPayment('Silver', 300)"
              >
                Pay Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="card card-pricing card-background card-raised"
            style="background-image: url('assets/img/pricing2.jpg')"
          >
            <div class="card-body">
              <h6 class="category text-info">DIAMOND</h6>
              <h1 class="card-title"><small></small>1200 DT</h1>
              <ul>
                <li>
                  <b>50 POSTS</b>
                </li>
                <li>
                  <b>Video & Chat</b>
                </li>
                <li>
                  <b>Calendar</b>
                </li>
                <li>
                  <b>Unlimited Candidats</b>
                </li>
              </ul>
              <a
                href="#pablo"
                class="btn btn-neutral btn-round"
                (click)="onSubmitPayment('Diamond', 1200)"
              >
                Pay Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-pricing card-plain">
            <div class="card-body">
              <h6 class="category">GOLD</h6>
              <h1 class="card-title"><small></small>500 DT</h1>
              <ul>
                <li>
                  <b>30 POSTS</b>
                </li>
                <li>
                  <b>Video & Chat</b>
                </li>
                <li>
                  <b>Calendar</b>
                </li>
                <li>
                  <b>Unlimited Candidats</b>
                </li>
              </ul>
              <a class="btn btn-primary btn-round" (click)="onSubmitPayment('Gold', 500)">
                Pay Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 
</div>
