<app-navbar3></app-navbar3>
<div class="wrapper">
  <div class="page-header page-header-small">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url('assets/img/bg32.jpg')"
    ></div>
  </div>
  <div><h1>NOTIFICATIONS</h1></div>
  <div class="section">
    <div class="container" *ngFor="let msg of messages">
      <button
        class="text-right"
        class="btn btn-danger btn-icon btn-sm btn-neutral margin-right"
      >
        <i class="now-ui-icons ui-1_simple-remove"></i>
      </button>

      <h2 id="border">{{ msg.message }}</h2>
    </div>
  </div>
</div>
