<app-navbar3 *ngIf="bolean"></app-navbar3>
<app-navbar2 *ngIf="!bolean"></app-navbar2>
<div class="panel-header" style="background-image: url('assets/img/bg19.jpg')">
  <div class="header text-center">
    <h2 class="title">           </h2>
    <p class="category">
      <a target="_blank" href="https://fullcalendar.io/">Don't Forget Your Interview </a>
     
     
    </p>
  </div>
</div>
<div class="main-content" style="background-image: url('assets/img/bg19.jpg')">
  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <div class="card card-calendar">
        <div class="card-body">
          <div id='calendar'></div>
          <!-- <div id='destination-calendar'></div> -->
          <div *ngFor="let cal of bigcalend">
           <form class="form" method="" action="" (ngSubmit)="onSubmit(cal.start,cal._id)">
            <div class="form-group">
              
              
              
              </div>
             
            <div>{{cal.title}}</div>
            <input class="form-control" type="title" name="title" [(ngModel)]="title" placeholder="Event Title" >
           <div>{{cal.start}}</div>
           <input class="form-control"  type="time" name="time" [(ngModel)]="time" placeholder="Time start" >
           <div>{{cal.color}}</div>
           <select name="color" [(ngModel)]="color"   > <option value="red">Red</option><option value="blue">Blue</option><option value="green">Green</option><option value="pink">Pink</option></select>' 
           <input type="submit" class="btn btn-primary btn-raised btn-round" value="Modify" />
           <input  (click)="delete(cal.start,cal._id)"class="btn btn-primary btn-raised btn-round" value="Delete" />
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
