<app-navbar></app-navbar>
<div class="page-header section-image">
  <div
    class="page-header-image"
    style="background-image: url('assets/img/bg19.jpg')"
  ></div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 ml-auto mr-auto">
          <div class="info info-horizontal">
            <div class="icon icon-primary">
              <i class="now-ui-icons media-2_sound-wave"></i>
            </div>
            <div class="description">
              <h5 class="info-title">Manage your NGFORCE account</h5>
              <p class="description">
                Fill your account with as much information as you can; Make your
                profil interesting.
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-primary">
              <i class="now-ui-icons media-1_button-pause"></i>
            </div>
            <div class="description">
              <h5 class="info-title">Applying process</h5>
              <p class="description">
                choose a position that suits your field of expertise.
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-info">
              <i class="now-ui-icons users_single-02"></i>
            </div>
            <div class="description">
              <h5 class="info-title">Iterview</h5>
              <p class="description">
                You are provided with a calender to help with the interviews
                time setting
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mr-auto">
          <div class="card card-signup">
            <div class="card-body">
              <h4 class="card-title text-center">Register</h4>
              <div class="social text-center">
                <h5 class="card-description">Campany</h5>
              </div>
              <form class="form" method="" action="" (ngSubmit)="onSubmit()">
                <div
                  class="input-group"
                  [ngClass]="{ 'input-group-focus': focus === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons users_circle-08"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    name="name"
                    [(ngModel)]="name"
                    class="form-control"
                    placeholder="Name..."
                    (focus)="focus = true"
                    (blur)="focus = false"
                  />
                </div>

                <div
                  class="input-group"
                  [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons text_caps-small"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    name="adress"
                    [(ngModel)]="adress"
                    placeholder="Adress..."
                    class="form-control"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                  />
                </div>
                <div
                  class="input-group"
                  [ngClass]="{ 'input-group-focus': focus2 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons ui-1_email-85"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    name="phonenumber"
                    [(ngModel)]="phonenumber"
                    class="form-control"
                    placeholder="Phone Number..."
                    (focus)="focus2 = true"
                    (blur)="focus2 = false"
                  />
                </div>

                <div
                  class="input-group"
                  [ngClass]="{ 'input-group-focus': focus2 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons ui-1_email-85"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    name="email"
                    [(ngModel)]="email"
                    class="form-control"
                    placeholder="Your Email..."
                    (focus)="focus2 = true"
                    (blur)="focus2 = false"
                  />
                </div>
                <div
                  class="input-group"
                  [ngClass]="{ 'input-group-focus': focus2 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons ui-1_email-85"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    name="password"
                    [(ngModel)]="password"
                    class="form-control"
                    placeholder="Your Password..."
                    (focus)="focus2 = true"
                    (blur)="focus2 = false"
                  />
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" />
                    <span class="form-check-sign"></span>
                    I agree to the terms and
                    <a href="#something">conditions</a>.
                  </label>
                </div>

                <input
                  type="submit"
                  value="Get started"
                  class="btn btn-primary btn-round btn-lg"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
