<app-navbar2></app-navbar2>
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg32.jpg');">
        </div>
        <div class="content-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h1 class="title">Search for candidate</h1>
                    <h4>Meet the candidates  and find out more about them.</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="section-btn">
        <!-- search area -->
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <form class="form" method="" action=""  (ngSubmit)="onSubmit()">
                        <input type="text" name="descProfil" [(ngModel)]="descProfil" placeholder="Search" class="form-control" >
                        <input  id = "searchbtn" type="submit" value="Search" class = "btn btn-primary btn-sm">
                        </form>
                </div>
            </div>
            
            <!-- <button type="button" class="btn btn-primary">Search</button> -->
        </div>
    </div>
        <!-- dropDown -->
        <div id="drop-btn">
        <div ngbDropdown class="dropdown" placement="bottom-right">
            <button class="btn btn-default dropdown-toggle" ngbDropdownToggle>Field         {{field}}</button>
            <div ngbDropdownMenu>
            <a class="dropdown-item"  (click)="click($event)"  >Marketing</a>
            <a class="dropdown-item" (click)="click($event)" >Software Solution</a>
            <a class="dropdown-item" (click)="click($event)" >Design</a>
            <a class="dropdown-item" (click)="click($event)" ></a>
            </div>
        </div>
        <div ngbDropdown class="dropdown" placement="bottom-right">
            <button class="btn btn-default dropdown-toggle" ngbDropdownToggle>Education level        {{studylevel}}</button>
            <div ngbDropdownMenu>
            <a class="dropdown-item" (click)="click1($event)">Post bac</a>
            <a class="dropdown-item" (click)="click1($event)">baccalaureate</a>
            <a class="dropdown-item" (click)="click1($event)">baccalaureate+3</a>
            <a class="dropdown-item" (click)="click1($event)">baccalaureate+5</a>
            <a class="dropdown-item" (click)="click1($event)">More then 5</a>
            <a class="dropdown-item" (click)="click1($event)" ></a>
            </div>
        </div>
        <div ngbDropdown class="dropdown" placement="bottom-right">
            <button class="btn btn-default dropdown-toggle" ngbDropdownToggle>Years of experience          {{expyear}}</button>
            <div ngbDropdownMenu>
            <a class="dropdown-item" (click)="click2($event)">Less than 1 year</a>
            <a class="dropdown-item" (click)="click2($event)">Between one to 2 years</a>
            <a class="dropdown-item" (click)="click2($event)">Between 2 to 5 years</a>
            <a class="dropdown-item" (click)="click2($event)">More than 5 years</a>
            <a class="dropdown-item" (click)="click2($event)" ></a>
            </div>
        </div>
    </div>
        <!--end dropdown  -->
    <div class="section">
       
        <div class="separator-line separator-primary"></div>
       
       
        <!--  -->
        <div style="display: flex; flex-wrap: wrap">
            <div class="container" style="max-width: 500px;"  *ngFor="let data of datas; let i = index">
          
              <div class="card">
                <a href="#pablo"> <img class="img rounded" src={{data.img}}></a>
                 <div class="card-body">
                  <h5 class="card-title"><a href="#pablo">{{data.name}}</a></h5>
                  <h4 class="card-title">{{data.email}}</h4>
                  <p class="card-text">   {{data.descProfil}}</p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{data.ProfExp}}</li>
                    <li class="list-group-item">{{data.studylevel}}</li>
                    <li class="list-group-item">  {{data.expyear}}</li>
                    <li class="list-group-item">  {{data.field}}</li>
                  </ul>
                  <button type="button" class="btn btn-primary btn-link" (click)="send(data)" [routerLink]="['/views/chat']">Send Message</button> 
                  <button *ngIf="!addfavo[i]" type="button" class="btn btn-primary btn-just-icon" (click)="favorite(data,i)" ngbTooltip="add to favorites"><i class="fa fa-heart"></i></button>
                  <button *ngIf="addfavo[i]" type="button" class="btn btn-primary btn-just-icon" (click)="delete(data,i)" >Delete from favorite</button>
                </div>
              </div>
            
            </div>
          </div>
          
                            
        <div class="about-office">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Pick the perfect for the job </h2>
                        <h4 class="description">Here are some pictures from our office. You can see the place looks like a palace and is fully equiped with everything you need to get the job done.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="rounded img-raised" alt="Raised Image" src="assets/img/bg27.jpg">
                    </div>
                    <div class="col-md-4">
                        <img class="rounded img-raised" alt="Raised Image" src="assets/img/bg24.jpg">
                    </div>
                    <div class="col-md-4">
                        <img class="rounded img-raised" alt="Raised Image" src="assets/img/bg28.jpg">
                    </div>
                    <div class="col-md-6">
                        <img class="rounded img-raised" alt="Raised Image" src="assets/img/project6.jpg">
                    </div>
                    <div class="col-md-6">
                        <img class="rounded img-raised" alt="Raised Image" src="assets/img/project14.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="about-contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="text-center title">Want to work with us?</h2>
                        <h4 class="text-center description">Divide details about your product or agency work into parts. Write a few lines about each one and contact us about any further collaboration. We will get back to you in a couple of hours.</h4>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>First name</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                                      </div>
                                        <input type="text" class="form-control" placeholder="First Name..." (focus)="focus=true" (blur)="focus=false">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Your email</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                      </div>
                                        <input type="email" class="form-control" placeholder="Email Here..." (focus)="focus1=true" (blur)="focus1=false">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Speciality</label>
                                        <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}"
                                            [settings]="dropdownSettings"
                                            (onSelect)="onItemSelect($event)"
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto text-center">
                                    <button class="btn btn-primary btn-round mt-4 btn-lg">
                                        Let's talk
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

