<nav class="navbar navbar-expand-lg bg-white fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/views/home']" placement="bottom" >
               Home
            </a>
            <a class="navbar-brand" [routerLink]="['/views/post']" placement="bottom" >
                <i class="now-ui-icons ui-1_simple-add"></i>
                POST
             </a>
             <a class="navbar-brand" [routerLink]="['/views/searchc']" placement="bottom" >
                <i class="now-ui-icons ui-1_zoom-bold"></i>
                Search
              </a>
             <a class="navbar-brand" [routerLink]="['/views/calendar']" placement="bottom" >
                <i class="now-ui-icons ui-1_calendar-60"></i>
                Calender
             </a>
             <a class="navbar-brand" [routerLink]="['/views/chat']" placement="bottom" >
                <i class="now-ui-icons ui-2_chat-round"></i>
                Chat
             </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
         <ul class="navbar-nav ml-auto">
         <li  class="nav-item">
            <a class="nav-link btn btn-primary" (click)="logout()" [routerLink]="['/views/login']">
               <p>LOGOUT</p>
               </a>
            </li>
            </ul>
        </div>
    </div>
</nav>
