<nav class="navbar navbar-expand-lg bg-white fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/views/landing']" placement="bottom" >
               NG.FORCE
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <a  ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                      <i class="now-ui-icons design_image" aria-hidden="true"></i>
                      <p>SIGN UP</p>
                    </div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" [routerLink]="['/views/signup']"><i class="now-ui-icons users_single-02"></i>Condidat</a>
                        <a class="dropdown-item" [routerLink]="['/views/company']"><i class="now-ui-icons business_bank"></i>Company</a>
                    </div>
                </a>
                <li  class="nav-item">
                    <a class="nav-link btn btn-primary" [routerLink]="['/views/login']">
                       <p>LOGIN</p>
                    </a>
                </li>
              
                  
                
            </ul>
        </div>
    </div>
</nav>
