<app-navbar></app-navbar>
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg27.jpg');">
        </div>
        <div class="content-center">
            <h1 class="title">NEW GENERATION</h1>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Who we are?</h2>
                    <h5 class="description">we are an online recruting  company we make an easy and speed dating between recruter and candidate  </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <!-- First image on the left side -->
                        <div class="image-container image-left" style="background-image: url('assets/img/bg38.jpg')">
                            <p class="blockquote blockquote-primary">"It's recruting time ! Same benefits, half the efforts!"
                                <br>
                                <br>
                                <small>-NG.FORCE</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container image-left-bottom" style="background-image: url('assets/img/bg24.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/bg39.jpg')"></div>
                        <h3>Are you looking for the newest and the fastest recruting records ?  </h3>
                        <p>The recrutment approach is changing dynamically you no more need to waste much timer in order to hire or get hired. 
                        </p>
                        <p>
                           Our application will help you with the availability of a job and a candidate
                        </p>
                        <p>
                            Our platform will help you adapt and recruit more talented engineers,faster and at scale-turning a new challenge into one of your greatest opportunities. 
                        </p>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials-1 section-image" style="background-image: url('assets/img/bg19.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    </div>
                </div>
            </div>
        </div>
</div>
                  
