<app-navbar3></app-navbar3>
<div class="wrapper">
  <div class="page-header page-header-small">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url('assets/img/bg32.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h1 class="title">Search For Campany</h1>
          <h4>Meet the amazing candidate and find out more about them.</h4>
        </div>
      </div>
    </div>
  </div>
  <div id="section-btn">
    <!-- search area -->
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="form-group">
          <form class="form" method="" action="" (ngSubmit)="onSubmit()">
            <input
              type="text"
              name="offerTitle"
              [(ngModel)]="offerTitle"
              placeholder="Search"
              class="form-control"
            />
            <input
              type="submit"
              value="Search"
              class="btn btn-primary btn-sm"
            />
          </form>
        </div>
      </div>

      <!-- <button type="button" class="btn btn-primary">Search</button> -->
    </div>
  </div>
  <!-- dropDown -->
  <div id="drop-btn">
    <div ngbDropdown class="dropdown" placement="bottom-right">
      <button class="btn btn-default dropdown-toggle" ngbDropdownToggle>
        type of contract {{ typeOfContract }}
      </button>
      <div ngbDropdownMenu>
        <a class="dropdown-item" (click)="click($event)">CDI </a>
        <a class="dropdown-item" (click)="click($event)">CDD</a>
        <a class="dropdown-item" (click)="click($event)">Freelance</a>
        <a class="dropdown-item" (click)="click($event)">Traineeship</a>
        <a class="dropdown-item" (click)="click($event)">alternation</a>
        <a class="dropdown-item" (click)="click($event)"></a>
      </div>
    </div>
    <div ngbDropdown class="dropdown" placement="bottom-right">
      <button class="btn btn-default dropdown-toggle" ngbDropdownToggle>
        minimum salary {{ salary }}
      </button>
      <div ngbDropdownMenu>
        <a class="dropdown-item" (click)="click1($event)">Less than 600DT</a>
        <a class="dropdown-item" (click)="click1($event)"
          >Between 600DT and 1200DT</a
        >
        <a class="dropdown-item" (click)="click1($event)"
          >Between 1200DT and 1500DT</a
        >
        <a class="dropdown-item" (click)="click1($event)">More than 1500 DT</a>
        <a class="dropdown-item" (click)="click1($event)"></a>
      </div>
    </div>
    <div ngbDropdown class="dropdown" placement="bottom-right">
      <button class="btn btn-default dropdown-toggle" ngbDropdownToggle>
        Years of experience {{ yearsOfExperience }}
      </button>
      <div ngbDropdownMenu>
        <a class="dropdown-item" (click)="click2($event)">Less than 1 year </a>
        <a class="dropdown-item" (click)="click2($event)"
          >Between 1 and 2 years</a
        >
        <a class="dropdown-item" (click)="click2($event)"
          >Between 2 and 5 years</a
        >
        <a class="dropdown-item" (click)="click2($event)">More than 5 years</a>
        <a class="dropdown-item" (click)="click2($event)"></a>
      </div>
    </div>
  </div>
  <!--end dropdown  -->

  <div class="separator-line separator-primary"></div>
  <!--  -->

  <!--  -->
  <div style="display: flex; flex-wrap: wrap">
    <div class="container" style="max-width: 500px;" *ngFor="let data of datas; let i = index">
  
      <div class="card">
        <!-- <img
          class="card-img-top"
          src="assets/img/PROFIL.jpg"
          alt="Card image cap"
        /> -->
        <div class="card-body">
          <h5 class="card-title">{{ data.companyName }}</h5>
          <h4 class="card-title">{{ data.offerTitle }}</h4>
          <p class="card-text">{{ data.offerDescription }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ data.salary }}</li>
            <li class="list-group-item">{{ data.yearsOfExperience }}</li>
            <li class="list-group-item">{{ data.typeOfContract }}</li>
          </ul>
          <button type="button" (click)="apply(data)"  [routerLink]="['/views/chat']" class="btn btn-primary btn-link">Apply</button>
          <button
            *ngIf="!follows[i]"
            type="button"
            class="btn btn-primary btn-just-icon"
            (click)="follow(data, i)"
            ngbTooltip="follow"
          >
            <i class="fa fa-heart"></i>
          </button>
          <button
            *ngIf="follows[i]"
            type="button"
            class="btn btn-primary btn-just-icon"
            (click)="unfollow(data, i)"
            ngbTooltip="unfollow"
          >
            unfollow
          </button>
        </div>
      </div>
    
    </div>
  </div>
  <!--  -->
  <div class="about-office">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Our office is our second home</h2>
          <h4 class="description">
            Here are some pictures from our office. You can see the place looks
            like a palace and is fully equiped with everything you need to get
            the job done.
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img
            class="rounded img-raised"
            alt="Raised Image"
            src="assets/img/bg27.jpg"
          />
        </div>
        <div class="col-md-4">
          <img
            class="rounded img-raised"
            alt="Raised Image"
            src="assets/img/bg24.jpg"
          />
        </div>
        <div class="col-md-4">
          <img
            class="rounded img-raised"
            alt="Raised Image"
            src="assets/img/bg28.jpg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
