#section-btn {
    margin-top: 20px;
    margin-left: 40%;

}

#drop-btn {
    display: flex;
    justify-content: center;
}

#card{
    height: 200px;
    width: 50%;
    margin-left: 60%;
}
#card-description{
   margin-right: 300%;
    width: 50%;
}